<h1>Add Vinyl</h1>

<form class="entireform" #form="ngForm" (ngSubmit)="addVinyl(form)">
    <div class = 'aName'>
        <label for="aName">Album name: </label>
        <input type="text" id="aName" name="aName" ngModel required>
    </div>

    <div class = 'aArtist'>
        <label for="aArtist">Artist: </label>
        <input type="text" id="aArtist" name="aArtist" ngModel required>
    </div>

    <div class = 'aRating'>
        <label for="aRating">Rating: </label>
        <input type="number" min="0" max="10" step="0.5" id="aRating" name="aRating" ngModel>
    </div>

    <div class = 'aLink'>
        <label for="aLink">URL of album art: </label>            
        <input type="text" id="aLink" name="aLink" ngModel>
    </div>

    <button type="submit">Add Vinyl information</button>
</form>

<!-- <form>
    <div class=entireform>
        <div class = 'aName'>
            <label for="aName">Album name: </label>
            <input type="text" id="aName" name="aName">
        </div>

        <div class = 'aArtist'>
            <label for="aArtist">Artist: </label>
            <input type="text" id="aArtist" name="aArtist">
        </div>

        <div class = 'aRating'>
            <label for="aRating">Rating: </label>
            <input type="number" min="0" max="10" step="0.5" value="5" id="aRating" name="aRating">
        </div>

        <div class = 'aLink'>
            <label for="aLink">URL of album art: </label>            
            <input type="text" id="aLink" name="aLink">
        </div>

        <button type="submit">Add Vinyl information</button>
    </div>
</form> -->