<h1>Vinyl database</h1>

<div *ngIf="listofVinylRecords.length === 0">
    <h3>No vinyl records yet!</h3> 
</div>

<div *ngFor="let i of listofVinylRecords">
    <div class="listofVinylRecords" 
    fxLayout="row" fxLayoutAlign="space-between center">
        <div class="textinfo">
            <div class="albumName">
                    <strong>Album: {{ i.aName }}</strong>
                </div>
                
                <div class="albumArtist">
                    <span><i>Artist: {{ i.aArtist }}</i></span>
                </div>
        
                <div class="albumRating">
                    <span>Rating: {{ i.aRating }}</span>
                </div>
        </div>

        <div class="albumArt" fxLayout="row" fxLayoutAlign="space-between center">
            <img src="{{ i.aLink }}" 
            alt="" 
            height="75px" width="75px">
        </div>

    </div>
</div>